


  
  <!-- Container-fluid -->
  <div class="container-fluid">
    <!-- Main-content-body -->
    <div class="main-content-body">

      <div class="row row-sm sentiment-analysis pl-3">
       
        <div class="col-md-4">
            <div class="card bg-primary">
                <h4 class="font-medium tracking-wide text-center text-white line-clamp-1 pt-5 pb-5">
                  Investment Avtivity
                </h4>
            </div>
            </div>
        
        
            <div class="col-md-8">
              <div class="summary-para">
                Thank you, Tejas, and good afternoon. Today, we are proud to announce Apple's biggest quarter ever. Through the busy holiday season, we set an all-time revenue record of nearly $124 billion, up 11% from last year and better than we had expected at the beginning of the quarter. And we are pleased to see that our active installed base of devices is now at a new record with more than 1.8 billion devices.
              </div>
            </div>
      </div>


      <div class="row row-sm sentiment-analysis pl-3">
       
        <div class="col-md-4">
            <div class="card bg-primary">
                <h4 class="font-medium tracking-wide text-center text-white line-clamp-1 pt-5 pb-5">
                  Investment Avtivity
                </h4>
            </div>
            </div>
        
        
            <div class="col-md-8">
              <div class="summary-para">
                Thank you, Tejas, and good afternoon. Today, we are proud to announce Apple's biggest quarter ever. Through the busy holiday season, we set an all-time revenue record of nearly $124 billion, up 11% from last year and better than we had expected at the beginning of the quarter. And we are pleased to see that our active installed base of devices is now at a new record with more than 1.8 billion devices.
              </div>
            </div>
      </div>


      <div class="row row-sm sentiment-analysis pl-3">
       
        <div class="col-md-4">
            <div class="card bg-primary">
                <h4 class="font-medium tracking-wide text-center text-white line-clamp-1 pt-5 pb-5">
                  Investment Avtivity
                </h4>
            </div>
            </div>
        
        
            <div class="col-md-8">
              <div class="summary-para">
                Thank you, Tejas, and good afternoon. Today, we are proud to announce Apple's biggest quarter ever. Through the busy holiday season, we set an all-time revenue record of nearly $124 billion, up 11% from last year and better than we had expected at the beginning of the quarter. And we are pleased to see that our active installed base of devices is now at a new record with more than 1.8 billion devices.
              </div>
            </div>
      </div>

    </div>
  </div>

 
