
<!-- Container-fluid -->
<div class="container-fluid">
    <!-- Main-content-body -->
    <div class="main-content-body">
        <div class="row">
            <div class="col-md-6">
                <div class="company  mb-3 border border-success p-5 " (click)="companuyClick()" routerLink="individual-dashboard" > 
                    <h2 class="text-center">Apple</h2>
                    <br />
                    <br />
                    <div class="d-flex flex-row justify-content-center ">
                        <div class="innerchart">
                            <canvas id="apple-pie"></canvas>
                        </div>
                        <div class="innerchart">
                            <canvas id="apple-line"></canvas>
                        </div>
            
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="company  mb-3 border border-success p-5 ">
                    <h2 class="text-center">Microsoft</h2>
                    <br />
                    <br />
                    <div class="d-flex flex-row justify-content-center ">
                        <div class="innerchart">
                            <canvas id="microsoft-pie"></canvas>
                        </div>
                        <div class="innerchart">
                            <canvas id="microsoft-line"></canvas>
                        </div>
            
                    </div>
                </div>
            </div>


            <div class="col-md-6">
                
            <div class="company  mb-3 border border-success p-5 ">
                <h2 class="text-center">Google</h2>
                <br />
                <br />
                <div class="d-flex flex-row justify-content-center ">
                    <div class="innerchart">
                        <canvas id="google-pie"></canvas>
                    </div>
                    <div class="innerchart">
                        <canvas id="google-line"></canvas>
                    </div>
        
                </div>
            </div>
            </div>

            <div class="col-md-6">
                <div (click)="adddashboard()"
                class="company  mb-3 d-flex flex-row justify-content-center align-items-center border border-success p-5">
                <button class="text-primary bg-transparent" title="add new company">+</button><br>
                
            </div>
            </div>

        </div>
    </div>
</div>

<div class="container-fluid p-5">
    <div class="d-flex flex-column justify-content-center align-items-center flex-wrap pl-5">

        <!-- <div lass="company  mb-3 border border-success p-5 " *ngFor="let company of companies">
            <h2 class="text-center">{{company ||titlecase }}</h2>
            <br />
            <br />
            <div class="d-flex flex-row justify-content-center ">
                <div class="innerchart">
                    <canvas id="{{company}}-pie"></canvas>
                </div>
                <div class="innerchart">
                    <canvas id="{{company}}-line"></canvas>
                </div>

            </div>


        </div> -->

        
    

    


    

</div>



</div>