<style>
    .company {
        cursor: pointer;
    }

    .company:hover.company:not(:last-child) {
        transform: scale(1.1);
        transition: transform .5s ease-in;
    }

    button {
        font-size: 9em;
    }
</style>

<div class="container-fluid p-5">
    <div class="d-flex flex-column justify-content-center align-items-center flex-wrap pl-5">

        <!-- <div lass="company  mb-3 border border-success p-5 " *ngFor="let company of companies">
            <h2 class="text-center">{{company ||titlecase }}</h2>
            <br />
            <br />
            <div class="d-flex flex-row justify-content-center ">
                <div class="innerchart">
                    <canvas id="{{company}}-pie"></canvas>
                </div>
                <div class="innerchart">
                    <canvas id="{{company}}-line"></canvas>
                </div>

            </div>


        </div> -->

        <div class="company  mb-3 border border-success p-5 "> 
        <h2 class="text-center">Apple</h2>
        <br />
        <br />
        <div class="d-flex flex-row justify-content-center ">
            <div class="innerchart">
                <canvas id="apple-pie"></canvas>
            </div>
            <div class="innerchart">
                <canvas id="apple-line"></canvas>
            </div>

        </div>
    </div>
    <div class="company  mb-3 border border-success p-5 ">
        <h2 class="text-center">Microsoft</h2>
        <br />
        <br />
        <div class="d-flex flex-row justify-content-center ">
            <div class="innerchart">
                <canvas id="microsoft-pie"></canvas>
            </div>
            <div class="innerchart">
                <canvas id="microsoft-line"></canvas>
            </div>

        </div>
    </div>

    <div class="company  mb-3 border border-success p-5 ">
        <h2 class="text-center">Google</h2>
        <br />
        <br />
        <div class="d-flex flex-row justify-content-center ">
            <div class="innerchart">
                <canvas id="google-pie"></canvas>
            </div>
            <div class="innerchart">
                <canvas id="google-line"></canvas>
            </div>

        </div>
    </div>


    <div (click)="adddashboard()"
        class="company  mb-3 d-flex flex-row justify-content-center align-items-center border border-success p-5">
        <button class="text-primary bg-transparent">+</button>
    </div>

</div>



</div>